@font-face {
    font-family: 'medieval times';
    src: url(Fontes/MedievalTimes-AL7l6.ttf) format('truetype');
    font-family: 'gothic';
    src: url(Fontes/GothichaRegular-d9BjV.ttf) format('truetype');
    font-family: 'fire';
    src: url(Fontes/BreatheFire-65pg.ttf) format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=UnifrakturCook&display=swap');


/*GERAL*/
/*GERAL*/
/*GERAL*/
/*GERAL*/
/*GERAL*/
/*GERAL*/
* {
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
}

body::-webkit-scrollbar {
    width: 15px;
}

body::-webkit-scrollbar-track {
    background: #202020;
}

body::-webkit-scrollbar-thumb {
    background-color: #353535;
}

body{
    overflow-x: hidden;
}

h2 {
    text-align: left;
    font-size: 30px;
    color: #aa0404;
    font-family: 'Baskervville SC';
}

p {
    margin: 0 20% 0 20%;
    font-family: 'Baskervville SC';
    font-weight: bold;
    font-size: 20px;
    color: #fff;
}

a {
    font-family: 'Baskervville SC';
    font-weight: bold;
    font-size: 20px;
    color: #000;
    text-decoration: none;

}

.title,
.title-center {
    margin: 0 0 50px 0;
    font-size: 50px;
    color: #aa0404;
    font-family: 'Macondo', cursive;
    font-weight: 1200;
}

.title-center {
    text-align: center;


}

.title {
    margin-left: 10%;
}

img:active {
    transform: scale(1.025);
    transition: 0.5s;
}

/*GERAL*/
/*GERAL*/
/*GERAL*/
/*GERAL*/
/*GERAL*/
/*GERAL*/


#body-ficha2 {
    background-image: url(imgs/cena-de-fantasia-em-3d.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;

}

.geral {
    display: grid;
    grid-template-columns:15vw 15vw 5vw 30vw 5vw 30vw;
    grid-template-rows: 20vh 40vh 40vh;
    align-items: flex-end;
}



.personagem {
    background-color: rgba(51, 51, 51, 0.5);
    /* width: calc(30vw - 43.5px); */
    height: calc(80vh - 13.5px);
    border: solid 10px #29251f;
    border-style: groove;
    /* padding: 12.5px; */
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
    justify-content: flex-end;
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    grid-template-rows: auto auto auto auto auto auto;
    justify-items: center;
    align-items: center;
    box-shadow:
        inset 10px 10px 20px rgba(0, 0, 0, 0.2),
        /* Sombra interna nos lados esquerdo e superior */
        inset -10px -10px 20px rgba(0, 0, 0, 0.2);
}

.personagem>div {
    width: 178px;
    height: 60px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-image: url(imgs/burrado.png);
    background-position: center;
    background-size: 178px 60px;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 10px 0 10px;


}

.personagem>div:active {

    opacity: 0.5;
}

.personagem p,
.personagem a {
    color: #fcffe5;
    font-size: 18px;
    font-family: 'gothic';
    display: flex;
}

.personagem div:hover {
    cursor: pointer;
}

#body-ficha2 header {
    display: none;
}

.imagem-personagem {
    height: calc(80vh - 43.5px);
    /* width: calc(30vw - 43.5px); */
    background-color: rgba(51, 51, 51, 0.5);
    /* background-image: url(imgs/cu2.png); */
    background-position: center;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4;
    background-size: cover;
    border: solid 10px #29251f;
    border-style: groove;
    padding: 12.5px;
    display: grid;
    align-items: flex-start;
    background-repeat: no-repeat;
    box-shadow:
        inset 20px 20px 20px rgba(0, 0, 0, 0.2),
        inset -20px -20px 20px rgba(0, 0, 0, 0.2)
}

.geral .personalização {
    align-items: center;
    justify-content: space-around;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}

.personalização {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    transform: translateX(150%);
    display: grid;
    grid-template-rows: 33vh 33vh 33vh;
    grid-template-columns: 16vw 16vw 16vw;
    height: 100vh;
    width: 50vw;
    background-color: #333333;
    justify-content: space-around;
    align-items: center;
    /* Alinha verticalmente o conteúdo no centro */
    justify-items: center;
    /* Alinha horizontalmente o conteúdo no centro */
}

.personalização>div {
    width: 90%;
    height: 90%;
    background-color: #517905;
    display: flex;
    align-items: center;
    justify-content: center;
}

#raca div {
    background-color: #aa0404;
}

#equipamento div {
    background-color: #413509;
}

#aparencia div {
    background-color: #620b64;
}

#armadura div {
    background-color: #fcffe5;
}

.personalização {
    transition: right 0.5s ease-in-out;
}


.personalização.active2 {
    overflow-x: visible;
    transform: translateX(0);
}

.personalização .detalhes {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: #333333;
    width: 500px;
}

