@font-face {
    font-family: 'medieval times';
    src: url(Fontes/MedievalTimes-AL7l6.ttf) format('truetype');
    font-family: 'gothic';
    src: url(Fontes/GothichaRegular-d9BjV.ttf) format('truetype');
    font-family: 'fire';
    src: url(Fontes/BreatheFire-65pg.ttf) format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=UnifrakturCook&display=swap');


/*GERAL*/
/*GERAL*/
/*GERAL*/
/*GERAL*/
/*GERAL*/
/*GERAL*/
* {
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
}

body{
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    text-align: center;
    font-size: 30px;
    color: #aa0404;
    font-family: 'Baskervville SC';
    
}

p {
    font-family: 'Baskervville SC';
    font-weight: bold;
    font-size: 20px;
    color: #fff;
}

a {
    font-family: 'Baskervville SC';
    font-weight: bold;
    font-size: 20px;
    color: #000;
    text-decoration: none;

}

label {
    color: #fcffe5;
    font-size: 15px;
    font-family: 'gothic';
    font-weight: bold;
    padding-top: 15px;
}

/*GERAL*/
/*GERAL*/
/*GERAL*/
/*GERAL*/
/*GERAL*/
/*GERAL*/


#body-ficha3 {
    background-image: url(imgs/cena-de-fantasia-em-3d.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;

}

.geral {
    display: grid;
    grid-template-columns: 2.5vw 20vw 7.5vw 40vw 7.5vw 20vw 2.5vw;
    grid-template-rows: 5vh 10vh 5vh 80vh;
}   



.personagem {
    background-color: rgba(51, 51, 51, 0.5);    
    height: calc(80vh - 18.5px);
    border: solid 10px #29251f;
    border-style: groove;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    justify-content: center;
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    justify-items: center;
    align-items: center;
    box-shadow:
        inset 10px 10px 20px rgba(0, 0, 0, 0.2),
        inset -10px -10px 20px rgba(0, 0, 0, 0.2);
    transition: opacity 0.5s ease, visibility 0.5s ease;
    opacity: 0;
}

.personagem.visible {
    opacity: 1;
}

.personagem div {
    width: 178px;
    height: 60px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-image: url(imgs/burrado.png);
    background-position: center;
    background-size: 178px 60px;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 10px 0 10px;
}

.personagem div:active {
    opacity: 0.5;
}
.escolhas div:active {
    opacity: 0.5;
}


.personagem p,
.personagem a {
    color: #fcffe5;
    font-size: 15px;
    font-family: 'gothic';
    display: flex;
}

.personagem div:hover {
    cursor: pointer;
}

#body-ficha2 header {
    display: none;
}

#imagem-personagem {
    height: calc(80vh - 18.5px);
    background-color: rgba(51, 51, 51, 0.5);
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
    border: solid 10px #29251f;
    border-style: groove;
    align-items: center;
    justify-content: center;
    display: flex;
    box-shadow:
        inset 20px 20px 20px rgba(0, 0, 0, 0.2),
        inset -20px -20px 20px rgba(0, 0, 0, 0.2);
    position: relative;
}

#imagem-personagem img{
    width: 35vw;
    height: 35vw;
    display: block;
    position: absolute;
}



.geral .personalização {
    align-items: center;
    justify-content: space-around;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}

.escolhas {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 7;
    background-color: rgba(51, 51, 51, 0.5);
    height: 9vh;
    border: solid 10px #29251f;
    border-style: groove;
    display: grid;
    grid-template-columns: 7.5vw 20vw 20vw 20vw 20vw 7.5vw;
    justify-items: center;
    align-items: center;
    box-shadow:
        inset 10px 10px 20px rgba(0, 0, 0, 0.2),
        inset -10px -10px 20px rgba(0, 0, 0, 0.2);
}
.selecionado{
    width: 140px;
    height: 46.67px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-image: url(imgs/burrado.png);
    background-position: center;
    background-size: 140px 46.67px;
    flex-wrap: wrap;
    flex-direction: row;
    transition: 0.5s;
}
.naoSelecionado{
    opacity: 0.5;
    width: 105px;
    height: 35px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-image: url(imgs/burrado.png);
    background-position: center;
    background-size: 105px 35px;
    flex-wrap: wrap;
    flex-direction: row;
    transition: 0.5s;
}

.selecionado p {
    color: #fcffe5;
    font-size: 13.5px;
    font-family: 'gothic';
    display: flex;
    transition: 0.5s;
}

.naoSelecionado p{
    color: #fcffe5;
    font-size: 10.15px;
    font-family: 'gothic';
    display: flex;
    transition: 0.5s;
}


.setas{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-position: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.classesPersonalizacao{
    display: grid;
}

.personagem{
    display: none;
}

.classesPersonalizacao{
    display: grid;
}
.galeriaDeSelecao{
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 6;
    grid-column-end: 7;
    background-color: rgba(51, 51, 51, 0.5);
    height: calc(80vh - 18.5px);
    border: solid 10px #29251f;
    border-style: groove;
    box-shadow:
        inset 10px 10px 20px rgba(0, 0, 0, 0.2),
        inset -10px -10px 20px rgba(0, 0, 0, 0.2);
}

.itemGaleria{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: calc(80vh - 18.5px);
    overflow: auto;
}

.itemGaleria img{
    filter: drop-shadow(0px 0px 20px rgb(161, 210, 173));
}

.galeriaDeSelecao p{
    text-align: center;
    font-size: 15px;
    margin: 7.5%;
}

.galeriaDeSelecao img{
    width: 12vw;
    margin: 0 auto;
    padding: 2vh;
}
.itemGaleria{
    display: none;
}
.galeriaDeSelecao{
    display: none;
}

.botaoSelecao, .botaoSelecaoClasse{
    width: 180px;
    height: 60px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-image: url(imgs/burrado.png);
    background-position: center;
    background-size: 180px 60px;
    margin: 30px auto 30px auto;
}

.botaoSelecao p{
    color: #fcffe5;
    font-size: 15px;
    font-family: 'gothic';
    display: flex;
}

.botaoSelecao:hover{
    cursor: pointer;
}
.botaoSelecao:active{
    opacity: 0.5;
}

#flecha-personagem-esquerda {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
    display: flex;
    align-items: center;
    justify-content: right;
    width: 80px;
}
#flecha-personagem-direita {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 5;
    display: flex;
    align-items: center;
    justify-content: right;
    width: 80px;
}

#avisos{
    display: block;
    align-items: center;
    background-color: #fcffe5;
    border-radius: 15px;
    padding: 50px;
    text-align: center;
    margin: 100px 100px;
    border: rgb(155, 0, 0) solid 15px;
    border-style: groove;
    position: absolute;
    z-index: 2;
}
#avisos p{
    color: #000;
    margin: 50px;
}

#botao-avisos{
    width: 180px;
    height: 60px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-image: url(imgs/burrado.png);
    background-position: center;
    background-size: 180px 60px;
    margin: 30px auto 30px auto;
}

#botao-avisos p{
    color: #fcffe5;
    font-size: 15px;
    font-family: 'gothic';
    display: flex;
}

#botao-avisos:hover{
    cursor: pointer;
}
#botao-avisos:active{
    opacity: 0.5;
}

.calca{
    z-index: 2;
}

.blusa{
    z-index: 3;
}

.cabelo{
    z-index: 4;
}

#item-pele {
    width: 15vw;
    height: 15vw;
    display: grid;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
}

.cor-pele {
    border-radius: 50%;
    border: solid 5px #aa0404;
    width: 70px;
    height: 70px;
    background-color: #29251f;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.cor-pele:hover{
    transform: scale(1.05);
    cursor: pointer;
    box-shadow:
        inset 2px 2px 5px rgba(255, 255, 255, 0.2),
        inset -2px -2px 5px rgba(0, 0, 0, 0.5),
        3px 3px 8px rgba(0, 0, 0, 0.3);
}

#branco {
    background-color: rgb(226 190 184);
}
#moreno {
    background-color: hsl(21.35deg 47.27% 56.86%);
}
#pardo {
    background-color: hsl(21.7deg 45.63% 40.39%);
}
#negro {
    background-color: hsl(22.19deg 60.33% 23.73%);
}

.cor-pele.selecionado2 {
    outline: 4px solid #000;
}


#item-olhos {
    width: 15vw;
    height: auto; 
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, auto);
    justify-items: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

#item-olhos p{
    color: #000;
}

.cor-olho{
    border-radius: 50%;
    border: solid 5px #aa0404;
    width: 70px;
    height: 70px;
    background-color: #29251f;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.cor-olho:hover{
    transform: scale(1.05);
    cursor: pointer;
    box-shadow:
        inset 2px 2px 5px rgba(255, 255, 255, 0.2),
        inset -2px -2px 5px rgba(0, 0, 0, 0.5),
        3px 3px 8px rgba(0, 0, 0, 0.3);
}

.cor-olho.selecionado3{
    outline: 4px solid #000;
}

#oBranco {
    background-color: rgb(254 245 245);
    color: #000;
}
#oAmareloClaro {
    background-color: rgb(245 221 156);
}
#oAmarelo {
    background-color: rgb(254 233 15);
}
#oLaranja {
    background-color: rgb(254 129 15);
}
#oRosa {
    background-color: rgb(254 162 175);
}
#oVermelho {
    background-color: rgb(238 40 47);
}
#oVinho {
    background-color: rgb(162 15 58);
}
#oRoxo {
    background-color: rgb(124 59 152);
}
#oAzul {
    background-color: rgb(66 64 153);
}
#oAzulbb {
    background-color: rgb(147 216 232);
}   
#oVerde {
    background-color: rgb(53 103 62);
}
#oPreto {
    background-color: rgb(9 20 21);
}
#oPreto p {
    color: #ffffff;
}

